<div class="login-container">
  <div class="login-card">
    <h1>Créez votre compte iShop.</h1>
    <p class="subtitle">Un compte unique pour tout acheter sur la plateforme.</p>

    <form class="login-form" (ngSubmit)="register()">
      <div class="input-group">
        <input type="text" [(ngModel)]="nameInput" placeholder="Nom complet"  name = "nameInput" required>
      </div>

      <div class="input-group">
        <input type="email" [(ngModel)]="mailInput" placeholder="Adresse e-mail"  name = "mailInput" required>
      </div>

      <div class="input-group">
        <input type="password" [(ngModel)]="passwordInput" placeholder="Mot de passe" name = "passwordInput"  required>
      </div>

      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }

      @if (successMessage) {
        <div class="success-message">{{ successMessage }}</div>
      }

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Création...' : 'Créer mon compte' }}
      </button>
    </form>

    <div class="login-footer">
      <p>Vous avez déjà un compte ? <a routerLink="/login">Connectez-vous.</a></p>
    </div>
  </div>
</div>